Repository he4rt/he4rtoberfest-2023, pull requests merged in 2023-10, with the labels that each got.

#8 Finalizando o desafio 0
  challenges/0-hello-world/php/gdiasb/README.md
  challenges/0-hello-world/php/gdiasb/helloworld.php
Labels: php

#4 Finalizando o desafio 0 - ruby
  challenges/0-hello-world/ruby/Nandosts/README.md
  challenges/0-hello-world/ruby/Nandosts/main.rb
Labels: ruby

#3 challenge 0
  challenges/0-hello-world/typescript/discodevl/README.md
  challenges/0-hello-world/typescript/discodevl/hello-world.ts
Labels: typescript

#6 feat: adding solution to challenge 0
  challenges/0-hello-world/javascript/gabrielduete/README.md
  challenges/0-hello-world/javascript/gabrielduete/index.js
Labels: hacktoberfest-accepted

#7 feat: hello world
  challenges/0-hello-world/ruby/rinyaresu/README.md
  challenges/0-hello-world/ruby/rinyaresu/main.rb
Labels: ruby

#12 Resolucao #0 - Lisp
  challenges/0-hello-world/lisp/cherryramatisdev/helloworld.lisp
  challenges/0-hello-world/lisp/cherryramatisdev/model.md
Labels: lisp

#13 Resolucao #0 - Go
  challenges/0-hello-world/go/datsfilipe/helloworld.go
  challenges/0-hello-world/go/datsfilipe/model.md
Labels: go

#5 Finalizando o desafio 6 - ruby
  challenges/6-numeros-primos/ruby/Nandosts/README.md
  challenges/6-numeros-primos/ruby/Nandosts/main.rb
Labels: csharp, fsharp, elixir

#21 Finalizando Desafio
  challenges/0-hello-world/java/README.md
  challenges/0-hello-world/java/ericantunes/helloworld.java
Labels: java

#22 Finalizando o desafio
  challenges/2-palindromos/c/vitorsantanna2/README.md
  challenges/2-palindromos/c/vitorsantanna2/main.c
Labels: c

#23 Finalizando o desafio
  challenges/3-conversao-de-base/c/vitorsantanna2/README.md
  challenges/3-conversao-de-base/c/vitorsantanna2/main.c
Labels: c

#26 Finalizando o desafio
  challenges/0-hello-world/python/luxu_luciano/README.md
  challenges/0-hello-world/python/luxu_luciano/helloworld.py
Labels: python, Challenge 0

#30 Finalizando o desafio 0
  challenges/0-hello-world/c/PedroDrago/README.md
  challenges/0-hello-world/c/PedroDrago/main.c
Labels: c, Challenge 0

#11 Finalizando o desafio 0
  challenges/0-hello-world/python/nidomus/README.md
  challenges/0-hello-world/python/nidomus/main.py
Labels: python, Necessita de correção, Challenge 0

#31 feat: add cubo-simples challenge
  challenges/1-cubo-simples/lisp/cherryramatisdev/cubo-simples.lisp
  challenges/1-cubo-simples/lisp/cherryramatisdev/model.md
Labels: lisp, Challenge 1

#45 Finalizando o desafio 1
  challenges/1-cubo-simples/javascript/laporeon/README.md
  challenges/1-cubo-simples/javascript/laporeon/index.js
Labels: javascript, Challenge 1

#46 Finalizando o desafio 6
  challenges/6-numeros-primos/javascript/laporeon/README.md
  challenges/6-numeros-primos/javascript/laporeon/index.js
Labels: javascript, Challenge 6

#14 Resolução #0 - Kotlin
  challenges/0-hello-world/kotlin/README.md
  challenges/0-hello-world/kotlin/thenriquedb/README.md
  challenges/0-hello-world/kotlin/thenriquedb/hello-world.kt
Labels: kotlin, Necessita de correção, Challenge 0

#48 Finalizando o desafio 5
  challenges/5-ordenar-letras/javascript/laporeon/README.md
  challenges/5-ordenar-letras/javascript/laporeon/index.js
Labels: javascript, Challenge 5

#53 Finalizando o desafio
  challenges/0-hello-world/go/andreyvdl/README.md
  challenges/0-hello-world/go/andreyvdl/helloWorld.go
Labels: go, Challenge 0

#27 feat(csharp): hello-world
  challenges/0-hello-world/csharp/offpepe/Program.cs
  challenges/0-hello-world/csharp/offpepe/README.md
  challenges/0-hello-world/csharp/offpepe/offpepe.csproj
Labels: csharp, Necessita de correção, Challenge 0

#52 Finalizando o desafio 0
  challenges/0-hello-world/typescript/eloisaoliveira/README.md
  challenges/0-hello-world/typescript/eloisaoliveira/hello-world.ts
Labels: typescript, Challenge 0

#50 Finalizando o desafio 1 - php
  challenges/1-cubo-simples/php/gdiasb/README.md
  challenges/1-cubo-simples/php/gdiasb/cubosimples.php
Labels: php, Challenge 1

#42 Finalizando o desafio 0
  challenges/0-hello-world/java/viniciusenari/HelloWorld.java
  challenges/0-hello-world/java/viniciusenari/model.md
Labels: java, Challenge 0

#49 Finalizando o desafio 2
  challenges/2-palindromos/javascript/laporeon/README.md
  challenges/2-palindromos/javascript/laporeon/index.js
Labels: javascript, Challenge 2

#40 feat: hello world rust
  challenges/0-hello-world/rust/Canhassi12/README.md
  challenges/0-hello-world/rust/Canhassi12/main.rs
Labels: Challenge 0, rust

#51 feat: Finalizando desafio
  challenges/0-hello-world/haskell/clerijr/README.md
  challenges/0-hello-world/haskell/clerijr/hello-world.hs
Labels: Challenge 0

#39 Finalizando o desafio
  challenges/0-hello-world/go/joao-erik2077/README.md
  challenges/0-hello-world/go/joao-erik2077/helloworld.go
Labels: go, Challenge 0

#41 Finalizando o desafio
  challenges/0-hello-world/javascript/gabrieldev2001/README.md
  challenges/0-hello-world/javascript/gabrieldev2001/index.js
Labels: javascript, Necessita de correção, Challenge 0

#65 Finalizando o desafio
  challenges/0-hello-world/java/vicitel/HelloWorld.java
  challenges/0-hello-world/java/vicitel/README.md
Labels: java, Challenge 0

#63 Desafio do Hello World na Linguagem C : Diferentes logicas
  challenges/0-hello-world/c/MewmewDevArt/README.md
  challenges/0-hello-world/c/MewmewDevArt/main_1.c
  challenges/0-hello-world/c/MewmewDevArt/main_2.c
  challenges/0-hello-world/c/MewmewDevArt/main_3.c
  challenges/0-hello-world/c/MewmewDevArt/main_4.c
  challenges/0-hello-world/c/MewmewDevArt/main_5.c
Labels: c, Challenge 0

#77 Feature(csharp): 5 - Ordenar letras
  challenges/5-ordenar-letras/csharp/offpepe/Program.cs
  challenges/5-ordenar-letras/csharp/offpepe/README.md
  challenges/5-ordenar-letras/csharp/offpepe/offpepe.csproj
Labels: hacktoberfest-accepted, csharp, Challenge 5

#72 0-hello-world
  challenges/0-hello-world/javascript/udimile/0-hello-world.js
  challenges/0-hello-world/javascript/udimile/Readme.md
Labels: hacktoberfest-accepted

#71 0-hello-world
  challenges/0-hello-world/javascript/IammCaz/0-hello-world.js
  challenges/0-hello-world/javascript/IammCaz/Readme.md
Labels: hacktoberfest-accepted

#79 Finalizando o desafio
  challenges/0-hello-world/cpp/raffreitas/README.md
  challenges/0-hello-world/cpp/raffreitas/main.cpp
Labels: hacktoberfest-accepted

#60 Finalizando o desafio 3 - php
  challenges/3-conversao-de-base/php/gdiasb/README.md
  challenges/3-conversao-de-base/php/gdiasb/conversao.php
Labels: hacktoberfest-accepted, php, Challenge 3

#28 feat(csharp): cube algorithm
  challenges/1-cubo-simples/csharp/offpepe/Program.cs
  challenges/1-cubo-simples/csharp/offpepe/README.md
  challenges/1-cubo-simples/csharp/offpepe/offpepe.csproj
Labels: csharp, Necessita de correção, Challenge 1

#32 feat(csharp): palindromes
  challenges/2-palindromos/csharp/offpepe/Program.cs
  challenges/2-palindromos/csharp/offpepe/README.md
  challenges/2-palindromos/csharp/offpepe/csharp.csproj
Labels: hacktoberfest-accepted, csharp, Necessita de correção, Challenge 2

#35 Challenges/1 cubo simples/c/pedro drago
  challenges/1-cubo-simples/c/PedroDrago/README.md
  challenges/1-cubo-simples/c/PedroDrago/main.c
Labels: hacktoberfest-accepted, c, Challenge 1

#38 feat(go): cubo
  challenges/1-cubo-simples/go/LuisDomiciano/README.md
  challenges/1-cubo-simples/go/LuisDomiciano/cubo.go
Labels: hacktoberfest-accepted, go, Necessita de correção, Challenge 1

#47 feat: add cubo-simples challenge
  challenges/1-cubo-simples/go/datsfilipe/cubo.go
  challenges/1-cubo-simples/go/datsfilipe/model.md
Labels: hacktoberfest-accepted, go, Challenge 1

#83 Challenge: 6 - Numeros primos
  challenges/6-numeros-primos/csharp/offpepe/Program.cs
  challenges/6-numeros-primos/csharp/offpepe/README.md
  challenges/6-numeros-primos/csharp/offpepe/offpepe.csproj
Labels: csharp, Challenge 6

#74 Finalizando desafio 2
  challenges/2-palindromos/java/viniciusenari/Palindromos.java
  challenges/2-palindromos/java/viniciusenari/model.md
Labels: hacktoberfest-accepted, java, Challenge 2

#80 Finalizado desafio
  challenges/1-cubo-simples/go/raffreitas/README.md
  challenges/1-cubo-simples/go/raffreitas/main.go
Labels: hacktoberfest-accepted, go, Challenge 1

#84 Finalizando o desafio 2 - Go
  challenges/2-palindromos/go/joao-erik2077/README.md
  challenges/2-palindromos/go/joao-erik2077/palindromos.go
Labels: hacktoberfest-accepted, go, Challenge 2

#68 Finalizando o desafio - Challenge 0 - Hello World
  challenges/0-hello-world/swift/All3yp/README.md
  challenges/0-hello-world/swift/All3yp/hello-world.swift
Labels: Challenge 0, swift

#87 Finalizado desafio
  challenges/2-palindromos/python/raffreitas/README.md
  challenges/2-palindromos/python/raffreitas/main.py
Labels: hacktoberfest-accepted, python, Challenge 2

#54 feat: hello world csharp
  challenges/0-hello-world/csharp/brunagpires/HelloWorld/HelloWorld.csproj
  challenges/0-hello-world/csharp/brunagpires/HelloWorld/Program.cs
  challenges/0-hello-world/csharp/brunagpires/model.md
Labels: csharp, Necessita de correção, Challenge 0

#76 Finalizando o desafio 6 - php
  challenges/6-numeros-primos/php/gdiasb/README.md
  challenges/6-numeros-primos/php/gdiasb/primos.php
Labels: hacktoberfest-accepted, php, Necessita de correção, Challenge 6

#102 Finalizando o desafio
  challenges/1-cubo-simples/python/grevizirsky/README.md
  challenges/1-cubo-simples/python/grevizirsky/cubosimples.py
Labels: hacktoberfest-accepted, python, Challenge 1

#107 Finalizando o desafio
  challenges/0-hello-world/csharp/guisaliba/Program.cs
  challenges/0-hello-world/csharp/guisaliba/README.md
  challenges/0-hello-world/csharp/guisaliba/guisaliba.csproj
Labels: csharp, Challenge 0

#98 1-cubo-simples
  challenges/1-cubo-simples/javascript/udimile/1-cubo-simples.js
  challenges/1-cubo-simples/javascript/udimile/README.md
Labels: javascript, Challenge 1

#116 Finalizando o desafio
  challenges/0-hello-world/kotlin/herco/README.md
  challenges/0-hello-world/kotlin/herco/helloWorld.kt
Labels: kotlin, Challenge 1

#115 Finalizando o desafio
  challenges/0-hello-world/typescript/vitorjaum/README.md
  challenges/0-hello-world/typescript/vitorjaum/hello-world.ts
Labels: typescript, Challenge 0

#119 Finalizando o desafio: 0 - Hello World
  challenges/0-hello-world/fsharp/thyvini/README.md
  challenges/0-hello-world/fsharp/thyvini/hello.fsx
Labels: fsharp, Challenge 0

#120 Finalizando o desafio 0-hello-world
  challenges/0-hello-world/lua/marlonhenq/README.md
  challenges/0-hello-world/lua/marlonhenq/helloWorld.lua
Labels: Challenge 0, lua

#123 Finalizando desafio 0 - Hello World
  challenges/0-hello-world/php/luizpimentel0/README.md
  challenges/0-hello-world/php/luizpimentel0/helloworld.php
Labels: php, Challenge 0

#125 Finalizando desafio 01
  challenges/1-cubo-simples/php/luizpimentel0/README.MD
  challenges/1-cubo-simples/php/luizpimentel0/cuboSimples.php
Labels: hacktoberfest-accepted, php, Challenge 1

#126 Finalizando desafio 2
  challenges/2-palindromos/php/luizpimentel0/README.md
  challenges/2-palindromos/php/luizpimentel0/palindrome.php
Labels: hacktoberfest-accepted, php, Challenge 2

#131 [Feat] - Adicionado desafio 0 (hello world)
  challenges/0-hello-world/php/LuisNadachi/README.md
  challenges/0-hello-world/php/LuisNadachi/index.php
Labels: php, Challenge 0

#136 Finalizando o desafio
  challenges/1-cubo-simples/typescript/vitorjaum/1-cubo-simples.ts
  challenges/1-cubo-simples/typescript/vitorjaum/README.md
Labels: hacktoberfest-accepted, typescript, Challenge 1

#135 Finalizando o desafio 2
  challenges/2-palindromos/javascript/saraaniceto/README.md
  challenges/2-palindromos/javascript/saraaniceto/index.js
Labels: hacktoberfest-accepted, javascript, Challenge 2

#132 Challenge(csharp): 9 - Likes
  challenges/9-likes/csharp/offpepe/Program.cs
  challenges/9-likes/csharp/offpepe/README.md
  challenges/9-likes/csharp/offpepe/offpepe.csproj
Labels: hacktoberfest-accepted, csharp, Challenge 9

#143 Finalizando desafio 3
  challenges/3-conversao-de-base/go/joao-erik2077/README.md
  challenges/3-conversao-de-base/go/joao-erik2077/conversaodebase.go
Labels: hacktoberfest-accepted

#121 Finalizando desafio 1-Cubo Simples
  challenges/1-cubo-simples/lua/marlonhenq/README.md
  challenges/1-cubo-simples/lua/marlonhenq/cuboSimples.lua
Labels: hacktoberfest-accepted, Challenge 1, lua

#146 Finalizando o desafio
  challenges/0-hello-world/python/davidspader/README.md
  challenges/0-hello-world/python/davidspader/helloworld.py
Labels: python, Challenge 0

#166 Finalizando o desafio
  challenges/0-hello-world/java/LUCASM4SCO/HelloWorld.java
  challenges/0-hello-world/java/LUCASM4SCO/README.md
Labels: java, Challenge 0

#158 Challenges/0 hello world/javascript/lonky00
  challenges/0-hello-world/javascript/Lonky00/index.js
  challenges/0-hello-world/javascript/Lonky00/model.md
Labels: javascript, Challenge 0

#163 challenge 0 - hello world | j0suetm
  challenges/0-hello-world/brainfuck/j0suetm/README.md
  challenges/0-hello-world/brainfuck/j0suetm/hello-world.bf
Labels: hacktoberfest-accepted, Necessita de correção, Challenge 0, brainfuck

#168 Challenges/0 hello world/ruby/aliciamarianne1507
  challenges/0-hello-world/ruby/aliciamarianne1507/README.md
  challenges/0-hello-world/ruby/aliciamarianne1507/main.rb
Labels: ruby, Challenge 0

#167 feat: add hello world example
  challenges/0-hello-world/rust/danielhe4rt/.gitignore
  challenges/0-hello-world/rust/danielhe4rt/Cargo.lock
  challenges/0-hello-world/rust/danielhe4rt/Cargo.toml
  challenges/0-hello-world/rust/danielhe4rt/README.md
  challenges/0-hello-world/rust/danielhe4rt/src/main.rs
Labels: Challenge 0, rust

#89 Finalizado desafio 3
  challenges/3-conversao-de-base/go/raffreitas/README.md
  challenges/3-conversao-de-base/go/raffreitas/main.go
Labels: hacktoberfest-accepted, go, Challenge 3

#177 feat: finalizando desafio 2 em rust
  challenges/1-cubo-simples/rust/README.org
  challenges/1-cubo-simples/rust/danielhe4rt/.gitignore
  challenges/1-cubo-simples/rust/danielhe4rt/Cargo.lock
  challenges/1-cubo-simples/rust/danielhe4rt/Cargo.toml
  challenges/1-cubo-simples/rust/danielhe4rt/README.md
  challenges/1-cubo-simples/rust/danielhe4rt/src/main.rs
Labels: hacktoberfest-accepted, Challenge 1, rust

#96 Finalizado desafio
  challenges/4-emprestimo/javascript/raffreitas/README.md
  challenges/4-emprestimo/javascript/raffreitas/main.js
Labels: hacktoberfest-accepted, javascript, Challenge 4

#69 Challenges/2 palindromos/typescript/clintonrocha
  challenges/2-palindromos/typescript/clintonrocha/README.md
  challenges/2-palindromos/typescript/clintonrocha/palindromos.ts
Labels: hacktoberfest-accepted, typescript, Necessita de correção, Challenge 2

#172 Desafio 4 - Emprestimo - Python
  challenges/4-emprestimo/python/davidspader/README.md
  challenges/4-emprestimo/python/davidspader/emprestimo.py
Labels: hacktoberfest-accepted, python, Challenge 4

#174 Finalizando o desafio
  challenges/0-hello-world/python/pinheir0g/README.md
  challenges/0-hello-world/python/pinheir0g/hello_world.py
Labels: hacktoberfest-accepted, python, Challenge 0

#180 5 - Ordenar listas - python
  challenges/5-ordenar-letras/python/davidspader/README.md
  challenges/5-ordenar-letras/python/davidspader/ordenar-letras.py
Labels: hacktoberfest-accepted, python, Challenge 5

#187 Challenge(cpp): 4 - Cubo
  challenges/1-cubo-simples/cpp/offpepe/README.md
  challenges/1-cubo-simples/cpp/offpepe/cube.cpp
Labels: hacktoberfest-accepted, Challenge 2, cpp

#189 feat: simple cube
  challenges/1-cubo-simples/ruby/rinyaresu/README.md
  challenges/1-cubo-simples/ruby/rinyaresu/main.rb
Labels: hacktoberfest-accepted, ruby, Challenge 1

#155 Finalizando o desafio 1
  challenges/1-cubo-simples/java/vicitel/CuboSimples.java
  challenges/1-cubo-simples/java/vicitel/README.md
Labels: hacktoberfest-accepted, java, Challenge 1

#195 Challenges/0 hello world/python/sarahanduca
  challenges/0-hello-world/python/sarahanduca/README.md
  challenges/0-hello-world/python/sarahanduca/hello_world.py
Labels: python, Challenge 0

#194 feat: base convert
  challenges/3-conversao-de-base/ruby/rinyaresu/README.md
  challenges/3-conversao-de-base/ruby/rinyaresu/main.rb
Labels: ruby, Challenge 3

#193 Challenge 0 - CPP
  challenges/0-hello-world/cpp/grigolin/README.md
  challenges/0-hello-world/cpp/grigolin/main.cpp
Labels: Challenge 0, cpp

#190 feat: finalizando o desafio 0 em java
  challenges/0-hello-world/java/willy-r/HelloWorld.java
  challenges/0-hello-world/java/willy-r/README.md
Labels: java, Challenge 0

#181 Finalizando o desafio
  challenges/0-hello-world/go/Uriel-David/README.md
  challenges/0-hello-world/go/Uriel-David/helloworld.go
Labels: go, Challenge 0

#170 Finalizando o desafio
  challenges/0-hello-world/java/lukasveiga/HelloWorld.java
  challenges/0-hello-world/java/lukasveiga/README.md
Labels: java, Challenge 0

#197 Challenges/0 hello world/php/kareninakvam
  challenges/0-hello-world/php/gdiasb/helloworld.php
  challenges/0-hello-world/php/kareninakvam/README.md
  challenges/0-hello-world/php/kareninakvam/helloworld.php
Labels: php, Challenge 0

#186 feat: finalizando palindromos csharp
  challenges/2-palindromos/csharp/brunagpires/Palindromos/Palindromos.csproj
  challenges/2-palindromos/csharp/brunagpires/Palindromos/Program.cs
  challenges/2-palindromos/csharp/model.md
Labels: csharp, Challenge 2

#169 Finalizando o desafio
  challenges/0-hello-world/php/yzpeedro/README.md
  challenges/0-hello-world/php/yzpeedro/index.php
Labels: hacktoberfest-accepted, php, Challenge 0

#196 6 - Números primos - python
  challenges/6-numeros-primos/python/davidspader/README.md
  challenges/6-numeros-primos/python/davidspader/numeros-primos.py
Labels: python, Challenge 6

#203 Finalizando o desafio
  challenges/1-cubo-simples/go/Uriel-David/README.md
  challenges/1-cubo-simples/go/Uriel-David/cubo.go
Labels: hacktoberfest-accepted, go, Challenge 1

#130 Challenge(csharp): 8 - Pares de letras
  challenges/8-pares-de-letras/csharp/offpepe/Program.cs
  challenges/8-pares-de-letras/csharp/offpepe/README.md
  challenges/8-pares-de-letras/csharp/offpepe/offpepe.csproj
Labels: csharp, Challenge 8

#128 Challenge(csharp): 7 - Graus em hora
  challenges/7-graus-em-horas/csharp/offpepe/Program.cs
  challenges/7-graus-em-horas/csharp/offpepe/README.md
  challenges/7-graus-em-horas/csharp/offpepe/offpepe.csproj
Labels: csharp, Challenge 7

#148 Finalizando o desafio
  challenges/1-cubo-simples/python/davidspader/README.md
  challenges/1-cubo-simples/python/davidspader/cubosimples.py
Labels: python, Challenge 1

#149 Desafio 2 - palindromos
  challenges/2-palindromos/python/davidspader/README.md
  challenges/2-palindromos/python/davidspader/palindromos.py
Labels: python, Challenge 2

#154 Finalizando desafio hello world
  challenges/0-hello-world/javascript/PedrodoDivino/README.MD
  challenges/0-hello-world/javascript/PedrodoDivino/hello_world.js
Labels: javascript, Challenge 0

#204 8 - Pares de Letras - python
  challenges/8-pares-de-letras/python/davidspader/README.md
  challenges/8-pares-de-letras/python/davidspader/pares-de-letras.py
Labels: hacktoberfest-accepted, python, Challenge 8

#199 7 - Graus em horas - python
  challenges/7-graus-em-horas/python/davidspader/README.md
  challenges/7-graus-em-horas/python/davidspader/graus-em-horas.py
Labels: hacktoberfest-accepted, python, Challenge 7

#192 feat: palindromos
  challenges/2-palindromos/ruby/rinyaresu/README.md
  challenges/2-palindromos/ruby/rinyaresu/main.rb
Labels: hacktoberfest-accepted, ruby, Challenge 2

#191 Finalizando desafio 10
  challenges/10-numero-menor/python/viniciusenari/model.md
  challenges/10-numero-menor/python/viniciusenari/numero_menor.py
Labels: hacktoberfest-accepted, python, Challenge 10

#173 Challenges/1 cubo simples/php/yzpeedro
  challenges/1-cubo-simples/php/yzPeedro/README.md
  challenges/1-cubo-simples/php/yzPeedro/index.php
Labels: hacktoberfest-accepted, php, Challenge 1

#185 Challenges/0 hello world/typescript/Clintonrocha98
  challenges/0-hello-world/typescript/Clintonrocha98/README.md
  challenges/0-hello-world/typescript/Clintonrocha98/hello-world.ts
  challenges/0-hello-world/typescript/clintonrocha/hello-world.ts
  challenges/model.md
Labels: hacktoberfest-accepted, Challenge 0, Necessita do desafio 0

#175 Finalizando o desafio
  challenges/1-cubo-simples/java/lukasveiga/CuboSimples.java
  challenges/1-cubo-simples/java/lukasveiga/README.md
Labels: hacktoberfest-accepted, java, Challenge 1

#129 Finalizando Desafio 10
  challenges/10-numero-menor/fsharp/thyvini/README.md
  challenges/10-numero-menor/fsharp/thyvini/index.fsx
Labels: hacktoberfest-accepted, fsharp, Challenge 10

#205 Finalizando o desafio
  challenges/2-palindromos/go/Uriel-David/README.md
  challenges/2-palindromos/go/Uriel-David/palindromo.go
Labels: hacktoberfest-accepted, go, Challenge 2

#86 Challenge(csharp): 3 - Conversor de base
  challenges/3-conversao-de-base/csharp/offpepe/Program.cs
  challenges/3-conversao-de-base/csharp/offpepe/README.md
  challenges/3-conversao-de-base/csharp/offpepe/offpepe.csproj
Labels: hacktoberfest-accepted, csharp, Challenge 3

#162 Finalizando desafio 2
  challenges/0-hello-world/php/Fernandfmsf/helloworld.php
  challenges/1-cubo-simples/php/Fernandafmsf/cubosimples.php
  challenges/2-palindromos/php/Fernandafmsf/README.md
  challenges/2-palindromos/php/Fernandafmsf/palindromo.php
Labels: hacktoberfest-accepted, php, Challenge 2, Necessita do desafio 0

#95 Challenge: 4 - Empréstimo
  challenges/4-emprestimo/rust/joao208/README.md
  challenges/4-emprestimo/rust/joao208/main.rs
Labels: hacktoberfest-accepted, rust, Challenge 4

#133 Challenges(csharp): 10 - Numero menor
  challenges/10-numero-menor/csharp/offpepe/Program.cs
  challenges/10-numero-menor/csharp/offpepe/README.md
  challenges/10-numero-menor/csharp/offpepe/offpepe.csproj
Labels: hacktoberfest-accepted, csharp, Challenge 10

#88 Challenge(csharp): 4 - emprestimo
  challenges/4-emprestimo/csharp/offpepe/Program.cs
  challenges/4-emprestimo/csharp/offpepe/README.md
  challenges/4-emprestimo/csharp/offpepe/offpepe.csproj
Labels: hacktoberfest-accepted, csharp, Challenge 4

#151 Finalizando desafio 3 - Conversão de base
  challenges/3-conversao-de-base/python/davidspader/README.md
  challenges/3-conversao-de-base/python/davidspader/conversao-de-base.py
Labels: python, Challenge 3

#216 Desafio Finalizado
  challenges/0-hello-world/c/Gr3gss/README.md
  challenges/0-hello-world/c/Gr3gss/helloworld.c
  challenges/0-hello-world/c/Gr3gss/helloworld.exe
Labels: c, Challenge 0

#219 Challenge 0 - Hello world
  challenges/0-hello-world/rust/wellers0n/README.md
  challenges/0-hello-world/rust/wellers0n/main.rs
Labels: Challenge 0, rust

#223 Finalizando o desafio 0
  challenges/0-hello-world/javascript/devwander/README.md
  challenges/0-hello-world/javascript/devwander/index.js
Labels: javascript, Challenge 0

#222 Finalizando o desafio
  challenges/2-palindromos/java/lukasveiga/README.md
  challenges/2-palindromos/java/lukasveiga/VerificarPalindromo.java
Labels: java, Challenge 2

#220 9 - Likes
  challenges/9-likes/python/davidspader/README.md
  challenges/9-likes/python/davidspader/likes.py
Labels: python, Challenge 9

#229 Challenge 0 - Hello world in malbolge #1
  challenges/0-hello-world/malbolge/vcwild/Makefile
  challenges/0-hello-world/malbolge/vcwild/README.md
  challenges/0-hello-world/malbolge/vcwild/hello_world.mal
Labels: Challenge 0, malbolge

#234 feat: finalizando o desafio 1 em java
  challenges/1-cubo-simples/java/willy-r/README.md
  challenges/1-cubo-simples/java/willy-r/SimpleCube.java
Labels: java, Challenge 1

#231 finalizando o desafio
  challenges/1-cubo-simples/java/LUCASM4SCO/CuboSimples.java
  challenges/1-cubo-simples/java/LUCASM4SCO/README.md
Labels: java, Challenge 1

#243 Desafio 0 - Hello World em R
  challenges/0-hello-world/r/rodcoffani/README.md
  challenges/0-hello-world/r/rodcoffani/hello.R
Labels: Challenge 0, R

#249 Challenges/3 conversao de base/php/yz peedro
  challenges/3-conversao-de-base/php/yzPeedro/README.md
  challenges/3-conversao-de-base/php/yzPeedro/index.php
Labels: hacktoberfest-accepted

#244 Finalizando o desafio 2
  challenges/2-palindromos/typescript/vitorjaum/README.md
  challenges/2-palindromos/typescript/vitorjaum/index.ts
Labels: hacktoberfest-accepted, typescript, Challenge 2

#232 10 - Número menor - Python
  challenges/10-numero-menor/python/davidspader/README.md
  challenges/10-numero-menor/python/davidspader/numero-menor.py
Labels: hacktoberfest-accepted, python, Challenge 10

#258 Finalizando o desafio
  challenges/1-cubo-simples/ruby/aliciamarianne1507/README.md
  challenges/1-cubo-simples/ruby/aliciamarianne1507/main.rb
Labels: ruby, Challenge 1

#257 Finalizando o desafio
  challenges/0-hello-world/v/tiotoninho/README.md
  challenges/0-hello-world/v/tiotoninho/hello_world.v
Labels: Challenge 0, V

#259 Finalizando o desafio
  challenges/0-hello-world/javascript/Samuel-Sales/README.MD
  challenges/0-hello-world/javascript/Samuel-Sales/app.js
Labels: javascript, Challenge 0

#254 Finalizando o desafio
  challenges/0-hello-world/javascript/JPAlkamim/0-hello-world.js
  challenges/0-hello-world/javascript/JPAlkamim/README.md
Labels: javascript, Challenge 0

#226 Finalizando desafio 4 - Go
  challenges/4-emprestimo/go/joao-erik2077/README.md
  challenges/4-emprestimo/go/joao-erik2077/emprestimo.go
Labels: hacktoberfest-accepted, go, Challenge 4

#263 Finalizando o desafio 6
  challenges/6-numeros-primos/java/viniciusenari/NumerosPrimos.java
  challenges/6-numeros-primos/java/viniciusenari/model.md
Labels: java, Challenge 6

#269 Finalizando desafio 0
  challenges/0-hello-world/dart/lokoinsanus/README.md
  challenges/0-hello-world/dart/lokoinsanus/hello.dart
Labels: Challenge 0, dart

#242 Finalizando o desafio
  challenges/2-palindromos/python/grevizirsky/README.md
  challenges/2-palindromos/python/grevizirsky/palindromo.py
Labels: python, Challenge 2

#245 Challenge(c++): 2 - Palíndromos
  challenges/2-palindromos/cpp/offpepe/README.md
  challenges/2-palindromos/cpp/offpepe/palindrome.cpp
Labels: Challenge 2, cpp

#240 Challenges/2 palindromos/java/lucasm4 sco
  challenges/2-palindromos/java/LUCASM4SCO/Palindromos.java
  challenges/2-palindromos/java/LUCASM4SCO/README.md
Labels: java, Challenge 2

#224 Finalizando o desafio
  challenges/1-cubo-simples/javascript/guisaliba/README.md
  challenges/1-cubo-simples/javascript/guisaliba/index.js
Labels: hacktoberfest-accepted, javascript, Challenge 1

#247 Finalizando o desafio 4
  challenges/4-emprestimo/javascript/saraaniceto/README.md
  challenges/4-emprestimo/javascript/saraaniceto/index.js
Labels: hacktoberfest-accepted, javascript, Challenge 4

#273 Finalizando o desafio
  challenges/0-hello-world/java/pedro-lg/HelloWorld.java
  challenges/0-hello-world/java/pedro-lg/README.md
Labels: java, Challenge 0

#241 Finalizando o desafio 0
  challenges/0-hello-world/risc-v/marlonhenq/README.md
  challenges/0-hello-world/risc-v/marlonhenq/helloworld.asm
Labels: Challenge 0, Risc-V

#272 Finalizando desafio 1
  challenges/1-cubo-simples/dart/lokoinsanus/README.md
  challenges/1-cubo-simples/dart/lokoinsanus/cubo.dart
Labels: Challenge 1, dart

#271 Finalizando o desafio
  challenges/1-cubo-simples/v/tiotoninho/README.md
  challenges/1-cubo-simples/v/tiotoninho/cubo_simples.v
Labels: Challenge 1, V

#274 Finalizando o desafio 02
  challenges/2-palindromos/typescript/guisaliba/README.md
  challenges/2-palindromos/typescript/guisaliba/index.ts
Labels: typescript, Challenge 2

#265 Finalizando o desafio
  challenges/7-graus-em-horas/php/yzPeedro/README.md
  challenges/7-graus-em-horas/php/yzPeedro/index.php
Labels: php, Challenge 7

#264 Finalizando o desafio
  challenges/0-hello-world/csharp/little-junior/HelloWorld-He4rtOberfest.csproj
  challenges/0-hello-world/csharp/little-junior/Program.cs
  challenges/0-hello-world/csharp/little-junior/README.md
Labels: csharp, Challenge 0

#275 Finalizando desafio 0 | Olá Mundo em Bash/Shell
  challenges/0-hello-world/bash/Ujs74wiop6/README.md
  challenges/0-hello-world/bash/Ujs74wiop6/olamundo.sh
Labels: Challenge 0, bash

#261 Challenges/3 conversao de base/ruby/aliciamarianne1507
  challenges/3-conversao-de-base/ruby/aliciamarianne1507/README.md
  challenges/3-conversao-de-base/ruby/aliciamarianne1507/main.rb
Labels: ruby, Challenge 3

#276 Finalizando o desafio
  challenges/3-conversao-de-base/go/Uriel-David/README.md
  challenges/3-conversao-de-base/go/Uriel-David/conversao.go
Labels: go, Challenge 3

#251 Finalizando o desafio
  challenges/4-emprestimo/php/yzPeedro/README.md
  challenges/4-emprestimo/php/yzPeedro/index.php
Labels: php, Challenge 4

#252 Finalizando desafio
  challenges/5-ordenar-letras/php/yzPeedro/README.md
  challenges/5-ordenar-letras/php/yzPeedro/index.php
Labels: php, Challenge 5

#255 Finalizando o desafio
  challenges/6-numeros-primos/php/yzPeedro/README.md
  challenges/6-numeros-primos/php/yzPeedro/index.php
Labels: php, Challenge 6

#260 finalização desafio
  challenges/2-palindromos/ruby/aliciamarianne1507/README.md
  challenges/2-palindromos/ruby/aliciamarianne1507/main.rb
Labels: ruby, Challenge 2
